body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #fff0f5, #ffe6ee);
  text-align: center;
}

.container {
  padding: 40px 20px;
}

h1 {
  font-size: 38px;
  color: #b30059;
}

.text {
  font-size: 18px;
  margin: 20px 0;
}

.date, .place {
  font-size: 20px;
  margin: 15px 0;
}

#timer {
  font-size: 22px;
  color: #800040;
}

button {
  padding: 12px 18px;
  background: #b30059;
  color: white;
  border: none;
  border-radius: 8px;
}
